GOOGLE_EMAIL=''
GOOGLE_PASSWORD=''
CLIENT_PRIVATEKY=''
CLIENT_EMAIL=''

# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=''
NEXT_PUBLIC_SANITY_DATASET='production'
NEXT_PUBLIC_SANITY_API_VERSION='2024-01-01'
