@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: 'Montserrat';

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body, html{
  width: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

body {

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}

.fm{
  font-family: 'Montserrat' !important;
}

/* Example CSS for styling the modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll !important;
}

.success-message {
  text-align: center;
  color: green;
  margin-bottom: 10px;
}

.close-button {
  background-color: #ccc;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.thumbs-wrapper{
  display: none !important;
}

/* .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
} */

.arrow.prev {
  left: 20px;
}

.arrow.next {
  right: 20px;
}


.feature-box:hover:before {
  content: '';
  border-left: 3px solid;
  border-top: 3px solid;
  top: 0;
  left: 0;
  color: #F4461E;
  transition: all .5s;
  z-index: -1;
  position: absolute;
}


.feature-box:hover:before, .feature-box:hover:after {
  transform: scale(1);
  width: 45px;
  height: 45px;
  opacity: 1;
}

.feature-box:after {
  content: '';
  border-right: 3px solid;
  border-bottom: 3px solid;
  bottom: 0;
  right: 0;
  color: #F4461E;
}


.feature-box:before, .feature-box:after {
  transition: all .5s;
  z-index: -1;
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  opacity: 0;
}


.multi-select-container {
  position: relative;
  width: 100%;
}

.multi-select-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  background-color: white;
}

.tag {
  display: flex;
  align-items: center;
  background-color: #F99621;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  color: #000;
}

.close-icon {
  margin-left: 4px;
  cursor: pointer;
}

.hidden-select {
  display: none;
}









.available-services {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
} 

.service-option {
  padding: 9px 18px;
  /* background-color: #e2e8f0; */
  background-color: #D8D8D8;
  color: #000;
  border-radius: 27px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700;
}

.service-option.selected {
  background-color: #F99621;
  color: #000;
}


@media (min-width: 640px) and (max-width: 770px) {
  section.md-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}

li.dot.selected{
  background-color: #F99621 !important;
}

.survey-page-body{
  margin-top: 500px;
}




/* home animations */
/* CSS for animations */
.fade-in {
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.slide-in {
  transition: transform 0.5s ease-out;
}


@keyframes spin-slow {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Apply these classes to respective elements */
